{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="ui-block">
 <article class="hentry post">
    <div class="m-link">
       <a href="#"  target="_blank">
          <a href="{{ q.get_absolute_url }}"><h4>{{user.username}}</h4></a>
       </a>
    </div>
    <div class="post__author author vcard inline-items">
       <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
       <div class="author-date">
          <a class="h6 post__author-name fn" href="#">Nombre de followers</a>
          <div class="post__date">
             <time class="published" datetime="2004-07-24T18:18">
             Answered 2h ago
             </time>
          </div>
       </div>
       <div class="more">
          <a href="#">
          <i class="fa fa-ellipsis-v"></i>
          </a>
       </div>
    </div>
    <p>
      {{q.body}}
    </p>
    <div class="post-additional-info inline-items">
       <p>

          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-retweet"></i> Retweeter</a>
          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-eye"></i> {{views}}</a>
       </p>
       <p class="social-icons">
          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-share"></i></a>
       </p>
    </div>
 </article>
</div>

<form action="" method="post">{% csrf_token %}
   {{ form|crispy }}
   <input type="submit" value="Submit" />
</form>

{% for a in ans %}

    <div class="ui-block">
     <article class="hentry post">
        <div class="m-link" >
           <a href="#"  target="_blank">
              <a href="#"><h4>Replied by : {{a.submitted_by.username}}</h4></a>
           </a>
        </div>
        <div class="post__author author vcard inline-items">
           <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
           <div class="author-date">
              <a class="h6 post__author-name fn" href="#">{{submitted_by.username}}</a>
              <div class="post__date">
                 <time class="published" datetime="2004-07-24T18:18">
                 Answered 2h ago
                 </time>
              </div>
           </div>
           <div class="more">
              <a href="#">
              <i class="fa fa-ellipsis-v"></i>
              </a>
           </div>
        </div>
        <p>
          {{a.body}}
        </p>
        <div class="post-additional-info inline-items">
           <p>
               <button onclick="LikeButton('{{a.id}}')" class="btn btn-sm btn-light" {% if not user.is_authenticated %}disabled{% endif %}>
               <span  class="fa fa-heart" id='{{a.id}}' data-action="{% if request.user in a.user_upvote.all %}un{% endif %}like">
                  {% with n=a.user_upvote.count %}
                    {{n}}
                  {% endwith %}

                 </span>
               </button>
           </p>

           <p class="social-icons">
            <a href="#" class="btn btn-sm btn-light"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-share"></i></a>
           </p>
        </div>  
         
     </article>
   </div>
   

{% empty %}
No answer yet .
{% endfor %}





<script>
  
  function getCookie(name) {//Pour le CSRF
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  
   
   
   function LikeButton(id){
      nombre=document.getElementById(id)
      action=(nombre).getAttribute("data-action");
      console.log(action)
      if (action==='like'){
         b=parseInt(nombre.innerHTML)+1
         nombre.innerHTML=b
         console.log('liked')
         handleLike(id=id, action=action);
         nombre.setAttribute("data-action", "unlike");
         action=(nombre).getAttribute("data-action");
         console.log(action)
        
         
      }else{
         b=parseInt(nombre.innerHTML)-1
         nombre.innerHTML=b
         handleLike(id=id, action=action);
         console.log('unliked')
         nombre.setAttribute("data-action", "like");
         action=(nombre).getAttribute("data-action");
         console.log(action)
         
      }
      
      
      
      
   }


function handleLike(id, action){
    
    const url=`/api/answer/${id}/like/`;
    const method="POST"
    
    const data=JSON.stringify({
        id:id,
        action:action
    })
    

    const xhr=new XMLHttpRequest()
    const csrftoken=getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    
    xhr.onload=function(){
       
       // console.log(data);
    }
    xhr.send(data)
    return 
}
</script>
{% endblock %}
