{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="ui-block">
 <article class="hentry post">
    <div class="m-link">
       <a href="#"  target="_blank">
          <a href="{{ q.get_absolute_url }}"><h4>{{user.username}}</h4></a>
       </a>
    </div>
    <div class="post__author author vcard inline-items">
       <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
       <div class="author-date">
          <a class="h6 post__author-name fn" href="#">Nombre de followers</a>
          <div class="post__date">
             <time class="published" datetime="2004-07-24T18:18">
             Answered 2h ago
             </time>
          </div>
       </div>
       <div class="more">
          <a href="#">
          <i class="fa fa-ellipsis-v"></i>
          </a>
       </div>
    </div>
    <p>
      {{q.body}}
    </p>
    <div class="post-additional-info inline-items">
       <p>

          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-retweet"></i> Retweeter</a>
          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-eye"></i> {{views}}</a>
       </p>
       <p class="social-icons">
          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-share"></i></a>
       </p>
    </div>
 </article>
</div>

<form action="" method="post">{% csrf_token %}
   {{ form|crispy }}
   <input type="submit" value="Submit" />
</form>

{% for a in ans %}

    <div class="ui-block">
     <article class="hentry post">
        <div class="m-link">
           <a href="#"  target="_blank">
              <a href="#"><h4>Replied by : {{a.submitted_by.username}}</h4></a>
           </a>
        </div>
        <div class="post__author author vcard inline-items">
           <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
           <div class="author-date">
              <a class="h6 post__author-name fn" href="#">{{submitted_by.username}}</a>
              <div class="post__date">
                 <time class="published" datetime="2004-07-24T18:18">
                 Answered 2h ago
                 </time>
              </div>
           </div>
           <div class="more">
              <a href="#">
              <i class="fa fa-ellipsis-v"></i>
              </a>
           </div>
        </div>
        <p>
          {{a.body}}
        </p>
        <div class="post-additional-info inline-items">
           <p>
               <a href="{% url "user_upvote" id=a.id action='like' %}" class="btn btn-sm btn-light">
                 <span class="fa fa-heart">
                   {% with n=a.user_upvote.count %}
                    {{n}}
                  {% endwith %}
                 </span>
                

              </a>
             

           </p>

        </div>
        <div class="container-fluid bg-gray" id="accordion-style-1">
         <div class="container">
            <section>
               <div class="row">
                  
                  <div class="col-16">
                     <div class="accordion" id="accordionExample">
                        <div class="card">
                           <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                           <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             <i class="fa fa-amazon main"></i><i class="fa fa-angle-double-right mr-3"></i>replies
                           </button>
                          </h5>
                           </div>
      
                           <div id="collapseOne" class="collapse show fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">
                                 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terrys <i class="fa fa-angle-double-right"></i></strong></a>
                              </div>
                              <form action="" method="POST">{% csrf_token %}
                                
                                 {% csrf_token %}
                                 {{ form|crispy }}
                                <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Reply</button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
         </div>            

        
     </article>
   </div>


{% empty %}
No answer yet .
{% endfor %}

xxxx

{% endblock %}
