{% load static %}
<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
  <title>Quora-Clone</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/base.css" %}"
  <script src="static/js/base.js"></script>
</head>


<body>
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
         <a class="navbar-brand mylogo" href="#"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="{% url "home" %}"><i class="fa fa-home"></i> Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url "user_answers" %}"><i class="fa fa-edit"></i> My answers</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-bell"></i> Notifications</a>
               </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 col-md-5">
               <input class="myform-control mr-sm-2" type="search" placeholder="Search Quora" aria-label="Search">
               <button class="btn btn-light"><i class="fa fa-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto">
               <li>
                  <a href="{% url "submit" %}" id="add-question" class="btn mybtn btn-success">Add Question</a>
               </li>
               <li class="avatar-profile d-none d-sm-block ">
                  <a href="#" ><img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" class="img-responsive" /></a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <!-- Page Content -->
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-2">
            <div class=" aff-right">
               <div class="ui-block">
                  <h6 class="my-4">Feeds</h6>
                  <hr>
                  <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                     <a class="nav-link active" data-toggle="pill" href="#"> Top Stories</a>
                     <a class="nav-link" data-toggle="pill" href="#" >New Questions</a>
                     <a class="nav-link" data-toggle="pill" href="#">Bookmarked Answers</a>
                     <a class="nav-link" data-toggle="pill" href="#">Links</a>
                     <a class="nav-link" data-toggle="pill" href="#">Payment Gateways</a>
                     <a class="nav-link" data-toggle="pill" href="#" >Education</a>
                     <a class="nav-link" data-toggle="pill" href="#">E-commerce</a>
                     <a class="nav-link" data-toggle="pill" href="#">Android Applications</a>
                  </div>
               </div>
            </div>
         </div>



         <div class="col-lg-7">
           {% block content %}
           {% endblock %}
         </div>
         <!-- /.col-lg-6 -->
         <!--col-lg-3-->
         <div class="col-lg-3">
            <div class=" q-wid">
               <div class="ui-block">
                  <h6 class="my-4">Improve Your Feed</h6>
                  <hr>
                  <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab"  aria-orientation="vertical">
                     <a class="nav-link"  data-toggle="pill" href="#"  >  Upvote 5 more good answers</a>
                     <a class="nav-link"  data-toggle="pill" href="#"  >Ask your first question</a>
                     <a class="nav-link" data-toggle="pill" href="#"   >Add 3 credentials</a>
                     <a class="nav-link" data-toggle="pill" href="#">Answer a question</a>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.col-lg-3 -->

      </div>

   </div>

   <!-- /.container -->
   <!-- The Modal -->
   <div class="modal fade" id="addModal">
      <div class="modal-dialog">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
               <div class="well">
                  <h4>Why should I follow you, in five sentences?</h4>
                  How to quickly get a good answer:
                  <ul>
                     <li>Keep your question short and to the point
                     <li>Check for grammar or spelling errors
                     <li>Phrase it like a question</li>
                  </ul>
               </div>
               <div class="post__author author vcard inline-items">
                  <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
                  <div class="author-date">
                     <a class="h6 post__author-name fn" href="#">Dipendra Singh</a>
                     <div class="post__date">
                        <time class="published" datetime="2004-07-24T18:18">
                        Answered 2h ago
                        </time>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
               <button type="button" class="btn btn-danger">Add Question</button>
               <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</body>
