{% include "base.html" %}
{% block content %}
{% for q in questions %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
           
        </div>
    </div> 
   
    <div class="row">
                               
        <div class="col-md-9">
            <div class="card-body">
                <div class="news-content">
                      
                    <div class="avatar">
                        <img alt=""  src="https://www.gravatar.com/avatar/nothing">
                    </div> 
                    
                    <a href="{{q.get_absolute_url}}"><h2>{{q.title}}  </h2></a>
                    <span>by {{q.submitted_by.username}}</span>
                    <p>
                        {{q.body}}
                    </p>
                
                </div>
                <div class="news-footer">
                <div class="news-author">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item text-secondary">
                            <i class="fa fa-heart"></i>
                            Upvote
                        </li>
                        <li class="list-inline-item text-secondary">
                            <i class="fa fa-share-square"></i>
                            Share
                        </li>
                        <li class="list-inline-item text-secondary">
                            <i class="fa fa-eye"></i>
                        
                        </li>
                
                    </ul>
                </div>   
                </div>
            </div>
        </div>
    </div>                       
</div>               
{% endfor %}

      
{% endblock %}