{% include "base.html" %}
{% block content %}
{% for q in questions %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
           
        </div>
    </div> 
   
    <div class="row">
                               
        <div class="col-md-9">
            <div class="card-body">
                <div class="news-content">
                    <a href="{{q.get_absolute_url}}"><h2>{{q.title}}  </h2></a>
                    <p>
                        {{q.body}}
                    </p>
                
                </div>
                <div class="news-footer">
                <div class="news-author">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item text-secondary">
                            <i class="fa fa-user"></i>
                            Prashant Singh
                        </li>
                        <li class="list-inline-item text-secondary">
                            <i class="fa fa-user"></i>
                            Advice
                        </li>
                        <li class="list-inline-item text-secondary">
                            <i class="fa fa-eye"></i>
                            110 Views
                        </li>
                        <li class="list-inline-item text-secondary">
                            <i class="fa fa-calendar"></i>
                            26 June 2018
                        </li>
                    </ul>
                </div>   
                </div>
            </div>
        </div>
    </div>                       
</div>               
{% endfor %}

      
{% endblock %}