{% include "base.html" %}
{% block title %}
    {{ q.title }}
{% endblock %}
{% block content %}
<div class="col-md-9">
    <div class="card-body">
        <div class="news-content">
            <a href="{{question.get_absolute_url}}"><h2>{{q.title}}  </h2></a>

            <p>{{ q.body }}</p>
        
        </div>
        <div class="news-footer">
        <div class="news-author">
            <ul class="list-inline list-unstyled">
                <li class="list-inline-item text-secondary">
                    <i class="fa fa-heart"></i>
                    Upvote
                </li>
                <li class="list-inline-item text-secondary">
                    <i class="fa fa-share-square"></i>
                    Share
                </li>
                
            </ul>
        </div>   
        </div>
    </div>
</div>
{% for a in ans %}
    <p>{{a.body}}</p>
{% empty %}
No answer yet .
{% endfor %}

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
    
{% endblock %}