{% extends "base.html" %}
{% load static %}
{% block content %}

  {% for g in groups %}
  <div class="ui-block">
   <article class="hentry post">
      <div class="m-link">
         <a href="{{g.get_absolute_url}}"  target="_blank">
            <h4>{{g.title}}</h4>
         </a>
      </div>
      <div class="post__author author vcard inline-items">
         <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
         <div class="author-date">
           Created by
            <a class="h6 post__author-name fn" href="{% url "see_profile" id=g.owner.id %}">
              {{g.owner.username}}
            </a>

         </div>
         <div class="more">
            <a href="#">
            <i class="fa fa-ellipsis-v"></i>
            </a>
         </div>
      </div>

      <div class="post-additional-info inline-items">
         <p>
  
              <button onclick="ActionButton('{{g.id}}')" id='{{g.id}}' data-action="{% if g in request.user.a_group.all %}leave{% endif %}join" class="btn btn-sm btn-light">
                <span class="fa fa-sign-out"></span>{% if g in request.user.a_group.all %} Leave{% else %}Join{% endif %}
              </button>
         </p>

      </div>
   </article>
 </div>


 {% endfor %}
 {{user.id |json_script:"user_id"}}
<script>
 
  var user_id = JSON.parse(document.getElementById('user_id').textContent);
  

  function getCookie(name) {//Pour le CSRF
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function ActionButton(id){
  
  nombre=document.getElementById(id)
  action=(nombre).getAttribute("data-action");
  user_id=user_id
  
  if (action==='join'){
    act=nombre.innerHTML
    nombre.innerHTML="Leave"
    
    console.log('joined')
    handleAction(id=id, user_id=user_id, action=action);
    nombre.setAttribute("data-action", "leave");
    action=(nombre).getAttribute("data-action");
    console.log(action)
        
         
  }else{
    act=nombre.innerHTML
    nombre.innerHTML="Join"
    

    console.log('left')
    handleAction(id=id, user_id=user_id, action=action);
    nombre.setAttribute("data-action", "join");
    action=(nombre).getAttribute("data-action");
    console.log(action)
         
  }
            
}


function handleAction(id, user_id, action){
    
    const url=`/api/user/${action}/group/`;
    const method="POST"
    
    const data=JSON.stringify({
        id:id,
        action:action, 
        user_id:user_id
    })
    

    const xhr=new XMLHttpRequest()
    const csrftoken=getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    
    xhr.onload=function(){
       
       // console.log(data);
    }
    xhr.send(data)
    return 
}
</script>

{% endblock %}
