{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="ui-block">
 <article class="hentry post">
    <div class="m-link">

        <h4>{{groupe.title}}</h4>

    </div>
    <div class="post__author author vcard inline-items">
       <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
       <div class="author-date">
         Created by
          <a class="h6 post__author-name fn" href="{% url "see_profile" id=groupe.owner.id %}"> {{groupe.owner.username}}</a>
          <div class="post__date">
             <time class="published" datetime="2004-07-24T18:18">
             <a href="{% url "groupe_members" id=groupe.id %}" class="btn btn-sm btn-light">
               <i class="fa fa-user">{{groupe.member.count}}</i>
             </a>
             <a href="{% url "membership_request" group_id=groupe.id %}" class="btn btn-sm btn-light">
               <i class="fa fa-user-plus">
                 {%with m=members_request.count%}
                  {{m}}
                 {% endwith %}
               </i>
             </a>
             <a href="{% url "question_request_list" group_id=groupe.id %}" >
               <i class="fa fa-question-circle"  aria-hidden="true">
                 {%with q=questions_request.count%}
                  {{q}}
                 {% endwith %}
               </i>
             </a>
             <a href="{% url "groupe_activities" id=groupe.id %}" class="btn btn-sm btn-light">
               <i class="fa fa-bell" aria-hidden="true">Stream</i>
             </a>
             </time>
          </div>
       </div>
       <div class="more">
          <a href="#">
          <i class="fa fa-ellipsis-v"></i>
          </a>
       </div>
    </div>
    <p>
      {{groupe.description}}

    </p>
    <div class="post-additional-info inline-items">
       <p>
         {% if not request.user in groupe.member.all %}
            <a href="{% url "join_or_leave" id=groupe.id action='join' %}" class="btn btn-sm btn-light">
              <span class="fa fa-user-plus"></span> Join
            </a>
         {% endif %}
       </p>
       <p>
         {% ifequal request.user groupe.owner %}
            <a href="{% url "update_group" groupe.pk%}" class="btn btn-sm btn-light">
              <span class="fa fa-pencil-square-o"></span> Update
            </a>
            <a href="{% url "delete_group" groupe.pk %}" class="btn btn-sm btn-light">
              <span class="fa fa-trash"></span> Delete
            </a>
         {% endifequal %}
       </p>

       <p class="social-icons">
          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-share"></i></a>
       </p>
    </div>
 </article>
</div>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" />
</form>

{% for q in groupe.questions.all %}
<div class="ui-block">
 <article class="hentry post">
    <div class="m-link">
       <a href="#"  target="_blank">
          <a href="{{ q.get_absolute_url }}"><h4>{{q.title}}</h4></a>
       </a>
    </div>
    <div class="post__author author vcard inline-items">
       <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
       <div class="author-date">
          <a class="h6 post__author-name fn" href="#">{{submitted_by.username}}</a>
          <div class="post__date">
             <time class="published" datetime="2004-07-24T18:18">
             Asked 2h ago
             </time>
          </div>
       </div>
       <div class="more">
          <a href="#">
          <i class="fa fa-ellipsis-v"></i>
          </a>
       </div>
    </div>
    <p>
      {{q.body}}
    </p>
    <div class="post-additional-info inline-items">
       <p>
          <a href="{{q.get_absolute_url}}" class="btn btn-sm btn-light"><span class="fa fa-pencil"></span> Answer</a>
          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-retweet"></i> Retweeter</a>
       </p>
       <p class="social-icons">
          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-share"></i></a>
       </p>
    </div>
 </article>
</div>


{% endfor %}

<!--
{% for m in members %}
<div class="ui-block">
 <article class="hentry post">
    <div class="post__author author vcard inline-items">
       <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
       <div class="author-date">
         joined
          <a class="h6 post__author-name fn" href="{{m.get_absolute_url}}">{{m.username}}</a>

       </div>

       <div class="post-additional-info inline-items">
          <p>
             <a href="#" class="btn btn-sm btn-light"><span class="fa fa-sign-out"></span> Remove</a>
          </p>

       </div>
       <div class="more">
          <a href="#">
          <i class="fa fa-ellipsis-v"></i>
          </a>
       </div>
    </div>


 </article>
</div>

{% endfor %}
-->
{% endblock %}
