{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% for m in members %}
<div class="ui-block">
 <article class="hentry post">
    <div class="post__author author vcard inline-items">
       <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
       <div class="author-date">

          <a class="h6 post__author-name fn" href="{{m.get_absolute_url}}">{{m.username}}</a>
          <p>
            <a href="#" onclick="GetData('{{groupe.id}}', '{{m.id}}')" class="btn btn-sm btn-light">
              <span class="fa fa-sign-out"></span> Approve
            </a>
          </p>
       </div>

       <div class="more">
          <a href="#">
          <i class="fa fa-ellipsis-v"></i>
          </a>
       </div>
    </div>


 </article>
</div>

{% endfor %}
<script>

function getCookie(name) {//Pour le CSRF
   var cookieValue = null;
   if (document.cookie && document.cookie !== '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = cookies[i].trim();
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) === (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}


   function GetData(id, user_id){
      id=id
      user_id=user_id
      console.log(id)
      
      ActionButton(id, user_id)
      div=document.getElementById(id)
      div.innerHTML="removed already"
    /*  $(document).ready(function(){
         $(div).click(function(){
            $("#id").hide();
         })
      })*/

   }

   function ActionButton(id, user_id){
      const url='/api/group/accept/member/';
      const method="POST"
      const data=JSON.stringify({
         id:id,
         user_id:user_id,
         action:"accept"
      })
      const xhr=new XMLHttpRequest()
      const csrftoken=getCookie('csrftoken');
      xhr.open(method, url)
      xhr.setRequestHeader("Content-Type", "application/json")
      xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
      xhr.setRequestHeader("X-CSRFToken", csrftoken)

      xhr.onload=function(){
         console.log("Before sending ")
         console.log(data)
      }
      xhr.send(data)
      return 

   }
</script>


{% endblock %}
