{% extends "base.html" %}
{% load static %}
{% block content %}

  {% for g in groups %}
  <div class="ui-block">
   <article class="hentry post">
      <div class="m-link">
         <a href="#"  target="_blank">
            <a href="{{ g.get_absolute_url }}"><h4>{{g.title}}</h4></a>
         </a>
      </div>
      <div class="post__author author vcard inline-items">
         <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
         <div class="author-date">
            <a class="h6 post__author-name fn" href="{% url "see_profile" id=g.owner.id %}">
              Created by {{g.owner.username}}
            </a>

         </div>
         <div class="more">
            <a href="#">
            <i class="fa fa-ellipsis-v"></i>
            </a>
         </div>
      </div>

      <div class="post-additional-info inline-items">
         <p>


            <a href="{% url "join_or_leave" id=g.id action='leave' %}" class="btn btn-sm btn-light"><span class="fa fa-sign-out"></span> Leave</a>

         </p>

      </div>
   </article>
 </div>


 {% endfor %}
{% endblock %}
