{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="ui-block">
 <article class="hentry post">
    <div class="m-link">
       <a href="#"  target="_blank">
          <a href="{{ q.get_absolute_url }}"><h4>{{user.username}}</h4></a>
       </a>
    </div>
    <div class="post__author author vcard inline-items">
       <img src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg" alt="author">
       <div class="author-date">
          <a class="h6 post__author-name fn" href="#">#</a>
          <div class="post__date">
             <time class="published" datetime="2004-07-24T18:18">
             <mark>{% with n=user.followers.count %}
                 {{n}} followers
             {% endwith %}</mark>
             </time>
          </div>
       </div>
       <div class="more">
          <a href="#">
          <i class="fa fa-ellipsis-v"></i>
          </a>
       </div>
    </div>
    <p>
      {{user.about}}
    </p>
    <div class="post-additional-info inline-items">
       <p>

          <a href="{% url "follow" id=user.id %}" class="btn btn-sm btn-light"><i class="fa fa-retweet"></i> Follow</a>
            <a href="#" class="btn btn-sm btn-light"><i class="fa fa-retweet"></i> Block</a>
       </p>
       <p class="social-icons">
          <a href="#" class="btn btn-sm btn-light"><i class="fa fa-facebook"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-twitter"></i></a>
          <a href="#" class="btn btn-sm btn-light"> <i class="fa fa-share"></i></a>
       </p>
    </div>
 </article>
</div>
{% endblock %}
